.heading{
    font-size:30px;
    margin:0px;
    width:100%;
}
.note{
    font-size:16px;
    color:darkgreen;
}
body{
    background-size:cover;
}
.div_song{
    margin:20px;
}
#song{
    font-size:25px;
}
canvas{
    border:5px solid white;
    margin-top:200px;
    border-radius:20px;
    box-shadow:5px 5px 5px gray;
}